.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
storage/app/public/*
database/*.sqlite*
tests
docs/images
*.zip
*.tar.gz
.DS_Store
.phpunit.result.cache
